:root {
  --white: #fff;
  --white1: #eee;
  --white2: #ddd;
  --lightgray: #ccc;
  --darkgray3: #666;
  --darkgray2: #555;
  --darkgray1: #444;
  --lightblack: #222;
  --darkblue: #98bcff;
  --blue: #9fe8ff;
  --aqua: #76ffdd;
  --green: #98fb98;
  --yellow: #ff8;
  --gold: #ee9;
  --lightorange: #ffd192;
  --orange: #ffa17c;
  --lightred: #ffb4b4;
  --red: #ff8d8d;
  --lightpink: #f4c0ff;
  --pink: #ed98ff;
  --purple: #c4adff;
  --rainbow: linear-gradient(120deg, #fbffca, #baffbf, #a7efff, #ffabff);
  --border-dark: #808080;
  --border-light: #d3d3d3;
  --default-link: #2161d6;
  --default-link-visited: #0c008f;
  --orange-link: #faa700;
  --orange-link-active: #ffc238;
  --orange-link-visited: #dc9d20;
}

body {
  font-family: sans-serif;
  white-space: nowrap;
  background-color: rgba(42, 42, 42, 1);
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 1911px;
  height: 969px;
  position: fixed;
}

.counterbuttons {
  color: white;
  display: inline-block;
  position: relative;
  width: 86px;
  height: 25px;
  margin-right: 2px;
  text-align: center;
  vertical-align: middle;
  background: repeating-linear-gradient(23deg, #42699c, #42699c 10px, #5a8ece 35px, #5a8ece 123px);
  outline: none;
}

.levelpop.hard .counterbuttons {
  background: repeating-linear-gradient(23deg, #ad3838, #ad3838 10px, #d37070 35px, #d37070 123px);
}

input[type="image"] {
  border: none;
  outline: none;
}

h1 {
  font-style: italic;
  color: #373fff;
  float: left;
  margin-left: 10px;
}

.background {
  width: 1920px;
  height: 969px;
}

#world3 {
  background: url('./assets/worldmaps/map_3.png') no-repeat;
}

.contthings {
  display: inline-flex;
  align-items: center;
  position: absolute;
  margin-top: 25px;
}

input.levelbutton,
input.diffbutton {
  position: absolute;
}

input.diffbutton#difficulty {
  bottom: 11.25px;
  left: 20.63px;
}

input.levelbutton#level3-1 {
  top: calc(274.13px - (125px / 2));
  left: calc(597.75px - (123px / 2));
}

input.levelbutton#level3-2 {
  top: calc(694.25px - (125px / 2));
  left: calc(337.13px - (123px / 2));
}

input.levelbutton#level3-3 {
  top: calc(149.63px - (125px / 2));
  left: calc(1175.25px - (123px / 2));
}

input.levelbutton#level3-4 {
  top: calc(492.75px - (125px / 2));
  left: calc(912.75px - (123px / 2));
}

#load {
  order: 1;
  margin-top: 5px;
  position: relative;
  margin-right: 10px;
  margin-left: 20px;
}

input#save {
  width: 400px;
  order: 2;
  margin-top: 5px;
  position: relative;
}

#clear {
  order: 3;
  margin-top: 5px;
  position: relative;
  margin-left: 10px;
}

.alhoverbox {
  position: relative;
  width: 80px;
  height: 80px;
}

.alhoverboxtext {
  color: #eee;
  background: black;
  min-width: 60px;
  padding: 2px;
  border-radius: 6px;
  margin-top: 2px;
  z-index: 1;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -130%);
}

.alhoverboxmain {
  visibility: hidden;
  position: relative;
}

.albosstext {
  position: absolute;
  top: 0;
  right: 0;
  color: #eee;
  padding: 0 3px;
  background: rgba(33, 33, 33, 0.8);
  font-size: 10px;
  border-radius: 0 7px;
}

.almain:hover>.alhoverboxmain {
  visibility: visible;
}

.alhoverbox a img {
  width: 80px;
  height: 80px;
}

.rarity-1,
.rarity-2 {
  background: var(--lightgray) !important;
  border: 2px solid var(--lightgray) !important;
}

.rarity-3 {
  background: var(--blue) !important;
  border: 2px solid var(--blue) !important;
}

.rarity-4 {
  background: var(--purple) !important;
  border: 2px solid var(--purple) !important;
}

table {
  display: table;
  border-color: grey;
  margin: 10px;
  border: 0px;
}

.rarity-5 {
  background: var(--gold) !important;
  border: 2px solid var(--gold) !important;
}

.almain {
  display: inline-block;
  position: relative;
  margin: 2px;
  text-align: center;
  vertical-align: middle;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

img {
  border: 0;
  vertical-align: middle;
}

.levelpop {
  background-color: #a4aebd;
  color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid white;
  z-index: 99999;
  height: 650px;
  width: 1000px;
}

.levelpop.active {
  transform: translate(-50%, -50%) scale(1);
}

.levelpop-header {
  margin: 10px;
  margin-bottom: 0px;
  display: flex;
  width: 980px;
  height: 50px;
}

.levelpop-titlebox {
  height: 45px;
  width: 920px;
  margin-right: 10px;
  background-color: #5275b5;
  display: flex;
  align-items: center;
  opacity: 0.9;
}

.levelpop-titlebg {
  background: repeating-linear-gradient(-55deg,
      #4a69a4,
      #4a69a4 10px,
      #5271b5 10px,
      #5271b5 22px);
}

.levelpop.hard .levelpop-titlebox {
  background-color: #cb4d4d;
}

.levelpop.hard .levelpop-titlebg {
  background: repeating-linear-gradient(-55deg,
      #d77575,
      #d77575 10px,
      #cb4d4d 10px,
      #cb4d4d 22px);
}

.levelpop-title {
  text-shadow: 2px 1px #00000070;
  font-size: 33px;
  margin-left: 3.5px;
}

.levelpop-body {
  display: inline-flex;
  margin: 10px;
  width: 980px;
  height: 570px;
  background-color: #6b7584;
}

.close-button {
  color: white;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  height: 45px;
  width: 70px;
  background-color: rgba(255, 0, 0, 0.788);
  font-size: 55px;
  display: flex;
  justify-content: center;
  place-items: center;
  border-radius: 5px;
}

.close-button:hover {
  background-color: rgb(255, 0, 0);
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  z-index: 99998;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.indexbox {
  width: 512px;
  height: 288px;
  margin-top: 89px;
  margin-left: 89px;
  display: inline-block;
  position: relative;
  text-align: center;
  color: black;
  font-size: 33px;
  cursor: pointer;
  border: 1px solid transparent;
}

.indexbox.last {
  margin-bottom: 89px;
}

.indexbox img {
  width: 512px;
  height: 288px;
}
.indexbox span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}

.indexbox:hover {
  border: 1px solid white;
}

table.indextable {
  display: table;
  border-color: grey;
  margin: 0px;
  border: 0px;
}